@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');
.app{
    text-align: center;
    padding-bottom: 15px;
}
.app-title{
    font-family: 'Bigelow Rules';
    font-size: 72px;
    color: #16c3bd;
}
